.customers-list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding-bottom: 94px;
}

.customers-list-item-link {
    display: flex;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--social-color);
    box-sizing: border-box;
    fill: var(--social-color);
}

.customers-list-item:not(:last-child) {
    margin-right: 30px;
}

.customers-list-item-link:hover,
.customers-list-item-link:focus {
    fill: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.customers-list-item-link {
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}