.footer {
    background-color: var(--background-color);
}

.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--secondary-color);
    display: block;
    padding-bottom: 20px;
}

.logocolor-white {
    color: var(--white-color);
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding-bottom: 9px;
}

.footer-address p {
    padding-bottom: 9px;
    margin: 0;
}

.footer-address-mail {
    padding-bottom: 9px;
}

.footer-address-phone {
    padding-bottom: 60px;
}

.footer-address-mail,
.footer-address-phone {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
        color: var(--secondary-color);
    }
}

.social-footer-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

.social-footer-list {
    display: flex;
    list-style: none;
}

.social-footer-list-item-link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    fill: var(--white-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        background-color: var(--secondary-color);
    }
}

.footer-list {
    display: flex;
    list-style: none;
}

.information {
    padding-top: 60px;
}

.join {
    padding-top: 72px;
    padding-left: 60px;
}

.social-footer-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    padding-bottom: 20px;
}

.newsletter{
    margin-left:auto;
}

.newsletter-header{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top:72px;
    padding-bottom:20px;
    color: var(--white-color);
}

.newsletter-form{
    display:inline-block;
}

.newsletter-form-input{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right:12px;
    background-color: var(--background-color);
    color:var(--white-color);
}

.newsletter-form-input::placeholder{
    width: 47px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 295px 15px 16px;
}

.footer .newsletter-button {
    position: relative;
    padding-right: 76px;
  }

.newsletter-button {
    display:relative;
    width: 200px;
    height: 50px;
    border-style: none;
    border-radius: 4px;
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
        cursor: pointer;
    }
}

.sign-in{
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    padding-left:35px;
}

.newsletter-button-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 28px;
}