.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logocolor {
    color: var(--main-color);
}