.background {
    background-color: var(--background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/backgroundresized.jpg");
}

.background-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    padding: 200px 255.2px 30px 255.2px;
}