.navigation {
    display: flex;
}

.navigation-list,
.address-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.navigation-list-item:not(:last-child) {
    margin-right: 46px;
}

.address-list {
    margin-left: auto;
}

.address-list-phone {
    margin-left: 10px;
}

.address-list-icon-phone {
    margin-left: 30px;
}

.address-list-mail {
    margin-left: 10px;
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
            color: var(--secondary-color);
            fill: var(--secondary-color);
        }    
}

.address-list-mail,
.address-list-phone,
.address-list-icon-mail,
.address-list-icon-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:var(--gray-color);
    fill: var(--gray-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
            color: var(--secondary-color);
            fill: var(--secondary-color);
        }
}

.current .navigation-list-link::after{
    position: relative;
    top: 35px;
    display:block;
    justify-content: center;
    content:"";
    width:100%;
    height:4px;
    border-radius: 2px;
    background-color: var(--secondary-color);
}