.portfolio-nav .container {
    width: 1200px;
}

.portfolio-nav {
    margin-top: 94px;
    margin-bottom: 50px;
}

.portfolio-nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.menu-item:not(:last-child) {
    margin-right: 8px;
}

.menu-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background-color: var(--team-background-color);
    border-radius: 4px;
    border-style: none;
    padding: 6px 22px 6px 22px;
    transition-property: background-color,color,box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        background-color: var(--secondary-color);
        color: var(--white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
        cursor: pointer;
    }
}

.projects-nav .container {
    width: 1200px;
}

.projects-nav {
    margin-bottom: 64px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin-left: -30px;
    flex-basis: calc(100% / 3 - 30px);
}

.projects-item {
    margin-left: 30px;
    margin-bottom: 30px;
    transition: box-shadow, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.pic {
    margin: 0 auto;
}

.pic:hover .overlay,
.pic:focus .overlay {
    transform: translatex(0);
}

.box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay>p {
    color: var(--white-color);
    margin: 0;
    font-size: 18px;
    font-family: var(--main-font);
    line-height: 1.555;
    letter-spacing: 0.03em;
    padding: 49px 45px 49px 24px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--gray-color);
    margin: 0;
    padding-left: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}