.offer {
    padding-top: 94px;
}

.headerh2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-top: 94px;
    margin-bottom: 50px;
}

.headerh2-pictures {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.pictures-item{
    &:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 94px;
    }
}

.thumb {
    position: relative;
    overflow: hidden;
}

.thumb>.label {
    position: absolute;
    height:70px;
    text-align: center;
    bottom: 0;
    right: 0;
    left:0;
    margin: 0;
    padding-top: 27px;
    font-family:var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white-color);
}

.team {
    background-color: var(--team-background-color);
}

.team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
}

.team-list-item{
    &:not(:first-child) {
        margin-bottom: 94px;
        margin-left: 30px;
        flex-basis: calc(100%/4-30px);
    }
}

.team-list-item-card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 0;
    background-color: var(--white-color);
    justify-content: center;
}

.team-name {
    font-size: 16px;
    line-height: 1.171;
    letter-spacing: 0.03em;
    font-weight: 500;
    color: var(--main-color);
    text-align: center;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
}

.team-position {
    font-size: 16px;
    line-height: 1.171;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: var(--gray-color);
    text-align: center;
    margin: 0;
    padding-bottom: 16px;
}

.social-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.social-list-item-link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--social-color);
    transition-property: background-color, fill;
    transition-duration: 250ms; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        background-color: var(--secondary-color);
        fill:var(--white-color);
    }
}


